@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* @config "../../tailwind.config.js"; */

body {
  font-family: Inter, sans-serif;
}

h1 {
  font-family: Faculty Glyphic, serif;
  @apply text-3xl sm:text-4xl font-bold;
}

h2 {
  font-family: Faculty Glyphic, serif;
  @apply text-2xl sm:text-3xl;
}

h3 {
  @apply text-xl sm:text-2xl;
}